.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    height: 100%;
}

.grid-img {
    object-fit: scale-down;
    width: 30%;
    height: 40%;
    /*display: none;*/
}

.grid-item {
    object-fit: scale-down;
}

.post-element-name {
    object-fit: scale-down;
    width: 100%;
}